canvas {
    width: 100% !important;
    max-height: 100% !important;
}

iframe {
    overflow: hidden;
    border: 0;
    width: 100%;
    height: 400px;
}

img {
    overflow: hidden;
    border: 0;
    width: 100%;
    height: 400px;
}
.prompt{
    display: none;
    /* position: absolute; */
    /* top: 55px; */
    /* left: 1px; */
    /* position: relative; */
    /* transition: all 2s ease-in-out; */
}