canvas {
    width: 100% !important;
    height: 100% !important;
}

iframe {
    overflow: hidden;
    border: 0;
    width: 100%;
    height: 400px;
}

img {
    overflow: hidden;
    border: 0;
    width: 100%;
    height: 400px;
}
.prompt {
    /* top: 80vh; */
    display: none;
  }